In [ ]:
import pandas as pd

In [ ]:
pre_dataset = pd.read_excel('dados_evasao.xlsx')
print("Linhas no arquivo: " + str(len(pre_dataset)))
pre_dataset.head()

Linhas no arquivo: 25184

                                      RA  ... NOTA_MEDIA PONTUACAO_PS
0    1  7d6448038594a469e451dc73ebd98ff3  ...        8.8         61.0
1    2  7d6448038594a469e451dc73ebd98ff3  ...        6.5         61.0
2    3  7d6448038594a469e451dc73ebd98ff3  ...        8.1         61.0
3    4  7d6448038594a469e451dc73ebd98ff3  ...        6.9         61.0
4    5  7d6448038594a469e451dc73ebd98ff3  ...        8.0         61.0

[5 rows x 11 columns]

In [ ]:
# PLAYGROUND
#===============================================================================
# Verifica se existem valores variados
print(pre_dataset['EVADIDO'].value_counts())
print("\n")
print(pre_dataset['RESID_ARARAS'].value_counts())
print("\n")
print(pre_dataset['BOLSISTA'].value_counts())
print("\n")
print(pre_dataset['GRADE_CORRENTE'].value_counts())
print("\n")
print(pre_dataset['COD_MATERI'].value_counts())
print("\n")
print(pre_dataset['DSC_MAT'].unique())
print("\n")
print(pre_dataset['DSC_STATUS_MAT'].value_counts())
print("\n")
print(pre_dataset['NOTA_MEDIA'].describe())
print("\n")
print(pre_dataset['PONTUACAO_PS'].describe())

N    17148
S     8036
Name: EVADIDO, dtype: int64


S    12756
N    12428
Name: RESID_ARARAS, dtype: int64


S    21455
N     3729
Name: BOLSISTA, dtype: int64


2015    3089
2016    2848
2010    2445
2017    2391
2013    2351
2008    2119
2011    2113
2018    2072
2009    1659
2012    1640
2014    1585
2019     823
2020      49
Name: GRADE_CORRENTE, dtype: int64


SIF001    890
SIF004    864
SIF005    845
SIF002    839
SIF009    819
         ...
NCI001      1
SIF082      1
SIF087      1
SIF075      1
SIF086      1
Name: COD_MATERI, Length: 77, dtype: int64


['Algoritmos' 'Segurança e Auditoria de Sistemas'
 'Iniciação à Pesquisa Científica' 'Lógica Computacional'
 'Matemática Discreta' 'Língua Portuguesa' 'Teoria da Computação'
 'Linguagem de Programação I' 'Linguagem de Programação II'
 'Linguagem de Programação III' 'Linguagem de Programação IV'
 'Linguagem de Programação V' 'Linguagem de Programação VI'
 'Programação para WEB I' 'Programação para Web II'
 'Programação para Web III' 'Programação para Web IV'
 'Arquitetura e Organização de Computadores' 'Inglês Instrumental'
 'Estrutura de Dados I' 'Estrutura de Dados II'
 'Fundamentos da Administração' 'Modelagem de Negócios'
 'Modelagem de Negócios II' 'Paradigmas de Programação' 'Banco de Dados I'
 'Banco de Dados II' 'Sistemas Operacionais I' 'Sistemas Operacionais II'
 'Engenharia de Software I' 'Engenharia de Software II'
 'Engenharia de Software III' 'Engenharia de Software IV'
 'Interface Humano Computador' 'Metodologia da Pesquisa Científica'
 'Fundamentos de Probabilidade e Estatística' 'Redes de Computadores I'
 'Redes de Computadores II' 'Projeto de Sistemas I'
 'Projeto de Sistemas II' 'Pesquisa Operacional' 'Gerência de Projetos'
 'Tópicos Avançados em SI I' 'Tópicos Avançados em SI II'
 'Empreendedorismo' 'Gestão Financeira de Negócios'
 'Sistemas Empresariais Integrados'
 'Fundamentos dos Sistemas de Informação'
 'Cálculo e Álgebra Linear Aplicada' 'Tecnologias de Apoio Educacional'
 'Oficina de Criatividade' 'Cálculo Aplicado' 'Libras'
 'Introdução a Orientação a Objetos' 'Computador e Sociedade'
 'Elaboração de Projetos SI'
 'Sistemas de Gestão de Negócios e Apoio a Decisão'
 'Tópicos Avançados em SI' 'Tópicos em Linguagem de Programação'
 'Tópicos Especiais em Sistemas de Informação'
 'Leitura e Produção de Textos' 'Empreendedorismo, Finanças e Negócios'
 'Tópicos Especiais em Sistemas de Informação II'
 'Oficina de Leitura e Escrita' 'Atualidades' 'Ética e Cidadania'
 'Práticas de Programação']


APROVADO                  21821
REPROVADO POR NOTA         2796
REPROVADO NOTA & FREQ.      510
REPROVADO POR FREQ.          57
Name: DSC_STATUS_MAT, dtype: int64


count    25184.000000
mean         6.379856
std          1.866561
min          0.000000
25%          5.400000
50%          6.600000
75%          7.600000
max         10.000000
Name: NOTA_MEDIA, dtype: float64


count    16232.000000
mean        46.529516
std          9.983466
min         22.000000
25%         40.000000
50%         45.000000
75%         53.000000
max         90.000000
Name: PONTUACAO_PS, dtype: float64

In [ ]:
print(pre_dataset['EVADIDO'].isnull().value_counts())
print("\n")
print(pre_dataset['RESID_ARARAS'].isnull().value_counts())
print("\n")
print(pre_dataset['BOLSISTA'].isnull().value_counts())
print("\n")
print(pre_dataset['GRADE_CORRENTE'].isnull().value_counts())
print("\n")
print(pre_dataset['COD_MATERI'].isnull().value_counts())
print("\n")
print(pre_dataset['DSC_MAT'].isnull().value_counts())
print("\n")
print(pre_dataset['DSC_STATUS_MAT'].isnull().value_counts())
print("\n")
print(pre_dataset['GRADE_CORRENTE'].isnull().value_counts())
print("\n")
print(pre_dataset['NOTA_MEDIA'].isnull().value_counts())
print("\n")
# Existem 8952 alunos que possívelmente não fizeram a prova para ter a nota
# PONTUACAO_PS
print(pre_dataset['PONTUACAO_PS'].isnull().value_counts())

False    25184
Name: EVADIDO, dtype: int64


False    25184
Name: RESID_ARARAS, dtype: int64


False    25184
Name: BOLSISTA, dtype: int64


False    25184
Name: GRADE_CORRENTE, dtype: int64


False    25184
Name: COD_MATERI, dtype: int64


False    25184
Name: DSC_MAT, dtype: int64


False    25184
Name: DSC_STATUS_MAT, dtype: int64


False    25184
Name: GRADE_CORRENTE, dtype: int64


False    25184
Name: NOTA_MEDIA, dtype: int64


False    16232
True      8952
Name: PONTUACAO_PS, dtype: int64

In [ ]:
# Pré-processamento
#==============================================================================
# Filtramos os dados anteriores a 2015 por questões de relevância nos cursos
#  da grade.
df = pre_dataset[pre_dataset['GRADE_CORRENTE'] >= 2015]

# Removemos as colunas RA e COD_MATERI pois "aparentemente" não serão
# relevantes na análise
df = df.drop(["DSC_MAT",
              "COD_MATERI",
              "PONTUACAO_PS",
              "NOTA_MEDIA",
              "GRADE_CORRENTE"], 1)

df = df.drop_duplicates(["RA"])

# Mudamos os valores das colunas "EVADIDO" e "DSC_STATUS_MAT" de string para
# booleano
df = df.replace({
  "N": 0,
  "S": 1,
  "APROVADO": 1,
  "REPROVADO POR NOTA": 2,
  "REPROVADO POR FREQ.": 3,
  "REPROVADO NOTA & FREQ.": 4
}) # Alterar este processamento para que os 4 atributos anteriores sejam
   # Colunas e não linhas  

# Adiciono as colunas para agrupar os alunos
#df.insert(6,"QTD_DIS_CURS", 0, True)
df.insert(7,"QTD_DIS_APROV", 0, True)
df.insert(8,"QTD_DIS_REPROV", 0, True)
df.insert(9,"MED_GERAL", 0, True)
df.insert(10,"PONTUACAO_PS_GERAL", 0, True)

# TODO: Fazer o agrupamento dos alunos fazendo a soma dos dados gerais
# Itera nos dois, e faz os processamentos de soma só no segundo, depois
# quantifica no primeiro
#for index, row in df.iterrows():
#  for index2, row2 in pre_dataset.iterrows():
#    exit()

df.head(5)

#### O que é a PONTUACAO_PS?
#### Perguntar se é preciso que existam referências das ideias que tivemos
#  - !!!!! Decidir o que fazer com os PONTUACAO_PS que estão com NAN !!!!!!
####  - Agrupar alunos
####  - Agrupar matérias
####  - Agrupar por períodos (anos com maior evasão)
#  - Testar com NOTA_MEDIA numérica
####  - Categorizar pontuações (NOTA_MEDIA)
####  - Explicar colunas novas (PASSO 4)
####  - Quais classes analisar? (Ficar com o EVADIDO - Principal até termos certeza
####  que da tempo de adicionar outras)
# 
# 
# IDÉIA DO TCC:
# * CONTINUAÇÃO DO TRABALHO DO VINICIUS
# * RODAR A BASE NOS 3 ALGORITMOS E EM MAIS ALGUNS (NÃO SABEMOS AINDA QUAIS E QUANTOS)
# * E ANALISAR OS RESULTADOS

#aggregation_functions = {'price': 'sum', 'amount': 'sum', 'name': 'first'}
#df_new = df.groupby(df['id']).aggregate(aggregation_functions)

                                          RA  ...  MED_GERAL  PONTUACAO_PS_GERAL
152    153  85122bd4db3dafd83157557866dd1b8e  ...          0                   0
417    418  34658db372f006d7af8e9487980c7416  ...          0                   0
2099  2100  f499004768515ef6fd7e5de4c2cd5136  ...          0                   0
2494  2495  d669db02b48944f0c80234325c226303  ...          0                   0
3013  3014  69eb109095f923c60b3fbdbe7ff4bcec  ...          0                   0

[5 rows x 11 columns]